%# Kotekian koTED Presentation Template #%
\documentclass{beamer}
\usetheme{metropolis}

\usepackage[T1]{fontenc}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage{inconsolata}
\usepackage{float}

\#{ \graphicspath{{./images/}} }

%# ------------------------------------------------------------------------------------
%# Title page definition
%# ------------------------------------------------------------------------------------

\title{\VAR{presentation.title}}
\subtitle{Kotekian Presentation}
\author{Kotek Company Ltd.}
\institute{Institute of Kotek Science}
\date{\today}
%# \logo{\includegraphics[width=2.5cm]{Beamer-Logo.png}}

%# ------------------------------------------------------------------------------------
%# Document contents
%# ------------------------------------------------------------------------------------

\begin{document}

%# Title page

\begin{frame}
  \titlepage
\end{frame}

%# Slide list

\BLOCK{ for slide in presentation }
    \begin{frame}{\VAR{slide.title}}{Niaou}
    \BLOCK{ if slide.image }
        \begin{columns}
            \begin{column}{0.5\textwidth}
                \begin{itemize}
                    \BLOCK{ for point in slide.points }
                    \item \VAR{ point }
                    \BLOCK{ endfor }
                \end{itemize}
            \end{column}
            \begin{column}{0.5\textwidth}
                \centering
                \includegraphics[width=1\textwidth]{\VAR{slide.image}}
            \end{column}
        \end{columns}
    \BLOCK{ else }
        \begin{itemize}
            \BLOCK{ for point in slide.points }
            \item \VAR{ point }
            \BLOCK{ endfor }
        \end{itemize}
    \BLOCK{ endif }
    \end{frame}
\BLOCK{ endfor }


\end{document}
